body {
  background-color: #FFE1BE;
  font-family : monospace
}

/* Navigation bar */
.navbar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 20px; 
  background: #FFECD7; 
}

.navbar ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.navbar ul li a {
  display: block;
  color: #FF6633;
  text-align: center;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: black
}

/* About Section */
.intro {
    display: flex;
    align-items: center;
    width: 80%;
    float:right
}
.intro img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}
.intro p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}
