body {
  background-color: #FFE1BE;
  font-family : monospace;
}


/* Navigation */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFECD7;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar li a {
    display: block;
    color: #FF6633;
    padding: 8px 16px;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: black;
    text-underline-position: under;
    background-color: #FFECD7;
}

@media screen and (min-width: 1000px) {
    #navbar {
        height: 100%;
        width: 15%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    #navbar li a {
        padding: 40px 32px;
        text-align: center;
        font-size: 17px
    }
}

@media screen and (max-width: 1000px) {
    #navbar {
        height: 100%;
        width: 15%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    #navbar li a {
        padding: 20px 16px;
        text-align: center;
        font-size: 12px
    }
}

@media screen and (max-width: 400px) {
  #navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    display: block;
  }
  #navbar li a {
    text-align: center;
    float: none;
  }
}

/* Content */
#content{
    width: 80%
}


/* Introduction */
#intro {
    display: flex;
    align-items: center;
    width: 80%;
    float:right
}
#intro img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

/* Other Sections */
.section {
    display: flex;
    flex-direction: column;
    width: 75%;
    float:right;
    padding: 20px
}
