body {
  background-color: #FFE1BE;
  font-family : monospace;
  
}

/*Vertical Navbar*/
@media (min-width: 600px) {
    /* Navigation bar */
    #navbar {
      height: 100%;
      width: 20%;
      position: fixed;
      top: 0;
      left: 0;
      background: #FFECD7; 
      display: flex;
      flex-direction: column;
      justify-content: space-around
    }
    
    #navbar ul {
      list-style-type: none;
      margin:10%;
      padding:5%;
      align-content: center
    }
    
    #navbar a {
      display: block;
      color: #FF6633;
      font-size: 20px;
      text-align: center;
      margin: 30%;
      padding = 10%;
      text-decoration: none;
    }

    #navbar a:hover {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-color: black;
      text-underline-position: under;
    }
}


/* Introduction */
#intro {
    display: flex;
    align-items: center;
    width: 80%;
    float:right
}
#intro img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

/* Other Sections */
.section {
    display: flex;
    flex-direction: column;
    width: 75%;
    float:right;
    padding: 20px
}
